* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.containeralpha {
    display: flex;
    justify-content: center;
}

.container {
    padding: 0px 10% 10px;
}

nav {
    position: fixed;
    width: 80%;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid gray;
    -webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
    border-radius: 15px;
}

.logo {
    width: 140px;
    border-radius: 15px;
}

nav i {
    color: #ff004f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

#navcv {
    margin-right: 15px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

#navcv:hover {
    background: #ff004f;
}

#navcv i {
    transition: color 0.5s;
}

#navcv:hover i {
    color: white;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#headertandi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header-text {
    font-size: 30px;
    padding: 10vh 3vw 5vh;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ff004f;
    width: fit-content;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

.header-img i {
    font-size: 500px;
    color: #ff004f;
    z-index: 99;
}

#comment {
    margin-top: 15px;
    border-radius: 15px;
}

#comment i {
    color: #ff004f;
    transition: color 0.5s;
}

#comment:hover i {
    color: white;
}

#moved {
    display: block;
    margin: 0 auto 0;
    font-size: 40px;
    color: #ff004f;
    width: fit-content;
    transition: color 0.5s;
}

#moved:hover {
    color: white;
}

/*--------------------about----------------------*/ 

#about {
    padding: 95px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100% ;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.sub-title span {
    color: #ff004f;
}

.sub-title-p {
    font-size: 18px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 16px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-content {
    display: block;
}

/*---------------------------Services-------------*/

#services {
    padding: 80px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    margin: auto;
    width: 45%;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ff004f;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p {
    font-size: 18px;
}

.services-list div a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 20px auto 0;
    display: inline-block;
}

#learnmorei {
    font-size: 20px;
    margin: 0;
    transition: color 0.5s;
}

.services-list div a:hover {
    background: #ff004f;
}

.services-list div a:hover #learnmorei {
    color: white;
}

/*----------------------Portfolio-------------------*/

#portfolio {
    padding: 80px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.layer {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    cursor: pointer;
}

.layer .work-trailer {
    width: 100%;
    height: 200px;
    transition: all 0.5s;
}

.work-trailer:hover {
    transform: scale(1.05);
}

.layer .work-description {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.layer h3 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 3px;
}

.layer p {
    font-size: 17px;
    filter: brightness(70%);
}

.workLinks {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.workLinks a {
    text-decoration: none;
}

.workLinks i {
    color: white;
    font-size: 25px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.5s;
}

.workLinks i:hover {
    background: white;
    color: black;
    border: none;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/*-------------------Contact--------------*/

#contact {
    padding-top: 90px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left h1 span {
    color: #ff004f;
}

.contact-left p {
    font-size: 18px;
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
}

.contact-left .btn {
    display: inline-block;
}

.sub-btn {
    display: inline-block;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #ff004f;
    font-size: 18px;
    padding: 14px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: none;
    transition: background 0.5s;
}

.sub-btn:hover {
    background: #ff004f;
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px; 
}

#cv i, #send i {
    color: #ff004f;
    font-size: 20px;
    transition: color 0.5s;
}

#cv:hover i, #send:hover i {
    color: white;
}

#moveu {
    margin: 25px 0;
    display: block;
    font-size: 40px;
    color: #ff004f;
    width: fit-content;
}

#moveu:hover {
    color: white;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}

/*------------------CSS for small screens--------------------*/

#openmm, #closemm {
    display: none;
}

@media screen and (max-width: 1200px) {
    #header {
        background-image: url(Images/My\ Logo\ 1.png);
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .containeralpha {
        width: 100%;
        padding: 0px 10%;
        display: inline-block;
        text-align: center;
    }

    #headertandi {
        width: 100%;
        height: 100vh;
    }

    .header-text {
        position: absolute;
        top: 30%;
        width: 60%;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid gray;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        padding: 40px 20px 10px;
        border-radius: 15px;
    }

    .header-text p {
        font-size: 20px;
        margin: 0;
    }

    .header-text h1 {
        font-size: 30px;
        margin: 5px 0;
    }

    .header-img {
        display: none;
    }

    nav {
        position: static;
        top: 0;
        width: 100%;
        background: black;
        -webkit-backdrop-filter: none;
	    backdrop-filter: none;
    }

    #openmm, #closemm {
        display: block;
        font-size: 25px;
        color: white;
    }

    #openmm {
        padding-right: 20px;
    }

    #closemm {
        position: absolute;
        top: 40px;
        left: 48%;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px; 
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        z-index: 2;
        transition: right 0.5s;
    }

    nav i {
        color: #ff004f;
    }

    nav ul li {
        display: block;
        margin: 10px 15px 10px; 
    }

    #navcv {
        margin: 20px auto 0;
    }

    nav ul li a:hover::after {
        width: 0;
    }

    .sub-title {
        font-size: 57px;
    }

    .about-col-1 {
        flex-basis: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .about-col-2 {
        flex-basis: 100%;
    }

    .tab-links {
        font-size: 18px;
        margin-right: 20px;
    }

    .services-list div {
        width: 70%;
    }

    .services-list div a:hover {
        background: none;
    }
    
    .services-list div a:hover #learnmorei {
        color: #ff004f;
    }

    .work img {
        transition: transform 1s;
    }
    
    .layer {
        transition: height 0.9s;
        font-size: 14px;
    }

    .contact-left {
        flex-basis: 35%;
    }

    .contact-right {
        flex-basis: 60%;
    }

    #pcontact {
        color: white;
        text-decoration: none;
    }

    #moveu {
        margin: 50px 0 10px;
    }

    #moveu:hover {
        color: #ff004f;
    }

    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    .header-text {
        top: 36%;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .layer h3 {
        font-size: 24px;
    }

    .layer a {
        margin-top: 10px;
        font-size: 15px;
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 800px) {
    .layer {
        gap: 20px;
    }

    .layer h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .layer a {
        line-height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .header-text {
        top: 31%;
        width: 80%;
        padding: 20px 20px 10px;
    }

    #closemm {
        top: 65px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .sub-title-p, .services-list div p {
        font-size: 16px;
    }

    .services-list div {
        width: 100%;
    }

    .layer h3 {
        font-size: 32px;
        margin: 20px 0;
    }

    .layer a {
        margin-top: 20px;
        font-size: 18px;
        line-height: 50px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    #moveu {
        margin: 40px 0 10px;
    }
}

@media screen and (max-width: 380px) {
    .header-text {
        top: 28%;
    }
}

@media screen and (max-width: 300px) {
    .contact-left p {
        font-size: 16px;
    }

    .contact-left p i {
        font-size: 20px;
    }
}
